*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}
body {
    font-family: 'Open Sans', sans-serif;
}
p{
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
    border: none;
    outline: none;
    color: white;
}
input:focus{
    outline: none;
}
textarea{
resize: none;
}




/* left side start */
.page {
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
}
.active {
    background-color: #494949cc;
}
.left-head{
display: none;
}
.left-head::before ,
.left-head::after {
    content: "";
    background-color: rgb(255, 255, 255);
    left: 50%;
    width: 60%;
    position: absolute;
    transform: translateX(-50%);
    
}
.left-head::before {
    height: 2px;
    bottom: 0;
    
}
.left-head::after {
    height: 15px;
    bottom: -7px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.89);
}

/* left side end */

/* right side start */
.right-side {
    background-color: #333333;
}
.right-side .head .search::before {
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #333333;
}
.right-side .head .bell::after{
    content: "";
    background-color: rgba(255, 0, 0, 0.795);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    right: 2px;
}
.right-side > h1::after,
.right-side > h1::before {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.right-side > h1::after{
    background-color: white;
    width: 40px;
}
.right-side > h1::before {
    background-color: rgba(0, 0, 0, 0.116);
    width: 120px;
}
.right-side .content {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    gap: 20px;
}
/* start welcome  */
.right-side .welcome .welcome-img {
    top: -35px;
}
.right-side .welcome .welcome-img img {
    border-radius:50%;
    border: 5px solid white;
    width: 80px;
    height: 80px;
}
/* end welcome  */
/* start draft  */
.draft textarea {
    height: 125px;
}
/* end draft  */
/* start targets */
.target-box .ic {
    width: 80px;
    height: 80px;
    background-color: rgba(37, 118, 209, 0.288);
}
.target-box .ic > i {
    color: #0075FF;
}
.target-box .text div:empty {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 117, 255, 0.2);
}
.target-box .text div:empty::after{
    content: "";
    width: 80%;
    height: 100%;
    position: absolute;
    background-color: #0075FF;
}
.target-box .text span{
    font-size: 12px;
    left: calc(76% + 3px);
    top: -37px;
    text-align: center;
    border-radius: 6px;
    padding: 3px;
    position: relative;
    background-color: #0075FF;
}
.target-box .text span::before{
    content: "";
    border: 5px solid transparent;
    border-top-color:#0075FF ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}
.target-box-2 .ic-2 {
    width: 80px;
    height: 80px;
    background-color: rgb(245 158 11 / 20%);
}
.target-box-2 .ic-2 > i {
    color: #f59e0b;
}
.target-box-2 .text-2 div:empty {
    width: 100%;
    height: 2px;
    background-color: rgb(245 158 11 / 20%);
}
.target-box-2 .text-2 div:empty::after{
    content: "";
    width: 55%;
    height: 100%;
    position: absolute;
    background-color: #f59e0b;
}
.target-box-2 .text-2 span{
    font-size: 12px;
    left: calc(51% + 3px);
    top: -37px;
    text-align: center;
    border-radius: 6px;
    padding: 3px;
    position: relative;
    background-color: #f59e0b;
}
.target-box-2 .text-2 span::before{
    content: "";
    border: 5px solid transparent;
    border-top-color:#f59e0b ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}
.target-box-3 .ic-3 {
    background-color: rgb(34 197 94 / 20%);
    width: 80px;
    height: 80px;
}
.target-box-3 .ic-3 > i {
    color: #22c55e;
}
.target-box-3 .text-3 div:empty {
    width: 100%;
    height: 2px;
    background-color: rgb(245 158 11 / 20%);
}
.target-box-3 .text-3 div:empty::after{
    content: "";
    width: 75%;
    height: 100%;
    position: absolute;
    background-color: #22c55e;
}
.target-box-3 .text-3 span{
    font-size: 12px;
    left: calc(71% + 3px);
    top: -37px;
    text-align: center;
    border-radius: 6px;
    padding: 3px;
    position: relative;
    background-color: #22c55e;
}
.target-box-3 .text-3 span::before{
    content: "";
    border: 5px solid transparent;
    border-top-color:#22c55e ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}
/* end targets */
/* start Statistics  */
.st-body {
    grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
    gap: 20px;
}
/* end Statistics  */
/* start tasks */
.tasks .task-row i:hover {
    color: rgb(206, 0, 0);
    cursor: pointer;
}
/* end tasks */
/* start progress  */
.prog .content ul::before{
    content: "";
    background-color: #0075FF;
    height: 100%;
    width: 3px;
    left: 11px;
    position: absolute;
}
.prog .content ul li::before {
    content: "";
    background-color: #0075FF;
    border: 2px solid white;
    outline: 2px solid #0075FF;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    left: 0;
    position: absolute;
}
.prog .content ul .done::before{
    background-color: white ;
    animation: bg 0.8s infinite alternate;
}
.prog .content li:last-child::before{
    background-color: white;
}
@keyframes bg {
    0% {
        background-color: #0075FF;
    }
    100%{
        background-color: white ;
    }
    
}
/* end progress  */
/* start reminders */
.reminders .content ul li .text-1{
    border-left: 2px solid #0075FF;
}
.reminders .content ul li .color-1{
    width: 15px;
    height: 15px;
    background-color: #0075FF;
    border-radius: 50%;
}
.reminders .content ul li .text-2{
    border-left: 2px solid #22c55e;
}
.reminders .content ul li .color-2{
    width: 15px;
    height: 15px;
    background-color: #22c55e;
    border-radius: 50%;
}
.reminders .content ul li .text-3{
    border-left: 2px solid #f59e0b;
}
.reminders .content ul li .color-3{
    width: 15px;
    height: 15px;
    background-color: #f59e0b;
    border-radius: 50%;
}
.reminders .content ul li .text-4{
    border-left: 2px solid #f44336;
}
.reminders .content ul li .color-4{
    width: 15px;
    height: 15px;
    background-color: #f44336;
    border-radius: 50%;
}
/* end reminders */
/* start social */
.social .content i {
    width: 60px;
    height: 60px;
}
/* end social */
/* start project */
.project table{
    min-width: 1000px;
}
.project table img:not(:first-child) {
    margin-left: -20px;
}
.project table img {
    border: 2px solid #ced4da;
    width: 32px;
    height: 32px;
}
/* end project */
/* right side end */















/* all screens start */
/* small  */
@media (max-width: 768px) {
    .right-side .content {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
    
}
/* mid  */
@media (min-width: 768px) {
    .left-head{
     display: block;
    }
    
}
/* large  */
@media (min-width: 992px) {
    
}

/* all screens end */

/* my frame work start */
.w-32 {
    width: 32px;
}
.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}
.w-40 {
    width: 40%;
}
.w-15 {
    width: 15%;
}
.w-85 {
    width: 85%;
}
/* small  */
@media (max-width: 768px) {
    .w-sm-10 {
        width: 10% !important;
    }
    .w-sm-20 {
        width: 20% !important;
    }
    .w-sm-25 {
        width: 25% !important;
    }
    .w-sm-50 {
        width: 50% !important;
    }
    .w-sm-100 {
        width: 100% !important;
    }
    
}
/* mid  */
@media (min-width: 768px) {
    .w-md-10 {
        width: 10% !important;
    }
    .w-md-20 {
        width: 20% !important;
    }
    .w-md-25 {
        width: 25% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-100 {
        width: 100% !important;
    }
}
/* large  */
@media (min-width: 992px) {
    .w-lg-10 {
        width: 10% !important;
    }
    .w-lg-20 {
        width: 20% !important;
    }
    .w-lg-25 {
        width: 25% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
    .w-lg-100 {
        width: 100% !important;
    }
}
.fs-14 {
    font-size: 14px;
}

/* my frame work end */